<div>
  <h1 mat-dialog-title>每日時間紀錄作業</h1>
  <div mat-dialog-content>
    <p>請填寫以下表單內容</p>
    <mat-form-field>
      <!-- <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    <mat-form-field>
      <input matInput [(ngModel)]="dayWorkData['備註']">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
  </div>
</div>
